html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #24292f !important;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

hr {
    border-top: 3px solid black !important;
    opacity: 1 !important;
}

.icon {
    width: 2.5rem;
}

.social-icons-nav {
    display: flex;
    justify-content: flex-end;
}

.social-icons-nav img {
    width: 1.8rem;
}

.login-icon{
    width: 2rem !important;
}

footer{
    background-color: black;
}

.footer_name{
    color: white;
    font-size: 2rem;
}

.footer_author{
    color: white;
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.footer_line{
    color: white;
    font-size: 2rem;
}

.social-icons-footer {
    width: 2rem;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.footer-icons img {
    margin-top: .4rem;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #000000;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 5rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2rem;
    letter-spacing: .25rem;
}

.nav div.main_list ul li a:hover {
    color: #55b2da;
    cursor: pointer;
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
}

.navTrigger {
    display: none;
}

.nav {
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 101;
}

.affix {
    padding: 0;
    background-color: #111111;
}


h1 {
    font-size: 6rem !important;
    font-weight: 900 !important;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: white;
}

h2 {
    font-size: 3.5rem !important;
    font-weight: 900 !important;
    color: white;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-fluid {
        margin: 0;
    }

}

@media screen and (max-width: 768px) {
    .navTrigger {
        display: block;
        background: none;
        border: none;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
    }

    .nav div.media_button {
        display: block;
    }

    .nav div.main_list ul li a:hover {
        color: lightskyblue;
    }


    h1 {
        font-size: 4.5rem !important;
        font-weight: 900 !important;
    }

    h2 {
        font-size: 2.5rem !important;
        font-weight: 900 !important
    }

}
/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 3rem;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


/* login */

.modal-login {
    color: #636363;
    width: 350px;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-login .form-control:focus {
    border-color: #70c5c0;
}

.modal-login .form-control,
.modal-login .btn {
    min-height: 50px;
    border-radius: 3px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

[class^="ico-"], [class*=" ico-"] {
    font: normal 1em/1 Arial, sans-serif;
    display: inline-block;
}

.ico-times:before {
    content: "\2716";
}

.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
}

.modal-login {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}

.modal-login a {
    color: #999;
}

.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-login .avatar img {
    width: 100%;
}

.modal-login.modal-dialog {
    margin-top: 80px;
}

.modal-login .btn,
.modal-login .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;

}

.modal-login .btn:hover,
.modal-login .btn:focus {
    background: #45aba6 !important;
    outline: none;
}
/* slideshow */

.carousel {
    background-color: #111111;
    z-index: 99;
}

.carousel-item img {
    height: 100vh;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.overlay_home {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.overlay_about{
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    gap: 4rem;
}
.overlay_gallery{
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}
.overlay_gallery_heading{
    position: absolute;
    z-index: 100;
    top: 7%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.overlay2{
    font-size: 4rem;
    font-weight: 700;
}

.gallery_photo {
    width: 90%;
    border: solid .4rem antiquewhite;
    /*transition: transform .5s;*/
}

/*
.test3:hover {
    transform: scale(1.4);
}*/

.background{
    background-image: url("https://wallpaperaccess.com/full/539662.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page_title {
    text-decoration: none;
    font-size: 9rem;
    color: white;
    font-weight: 900;
}

.gallery_title{
    text-decoration: none;
    font-size: 9rem;
    color: white;
    font-weight: 900;
}

.text_about{
    color: white;
    font-size: 2.5rem;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.contact_section{
    height: 100vh;
    width: 100%;
    background-image: url("photos/her/bg.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.email_form{
    width: 50%;
    text-align: center;
    color: white;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#email_input{
    height: 3.5rem;
    width: 50rem;
    font-size: medium;
    background-color: rgba(108, 113, 128, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
    text-align: center;
}

#subject{
    height: 3.5rem;
    width: 35rem;
    font-size: medium;
    background-color: rgba(108, 113, 128, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
    text-align: center;
}
#textarea{
    height: 20rem;
    width: 50rem;
    border-radius: .8rem;
    font-size: medium;
    background-color: rgba(108, 113, 128, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 3px;
    color: white;
    outline:0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    padding-bottom: 2rem;
    resize: none;
}

.contact_title{
    text-decoration: none;
    font-size: 8rem;
    color: white;
    font-weight: 900;
    padding-bottom: 5rem;
}

.contact_label{
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .gallery_title {
        padding-top: 5rem;
        font-size: 5rem;
        padding-bottom: 3rem;
    }
    .text_about{
        word-wrap: break-word;
        width: 230px;
        gap: 0;
        font-size: 2rem;
    }

    .email_form{
        width: 30%;
    }
    #email_input{
        height: 3rem;
        width: 30rem;
    }
    #textarea{
        height: 30rem;
        width: 25rem;
    }

    #subject{
        width: 20rem;
    }

    .overlay_about{
        font-size: 2rem;
        top:10%;
    }

    .overlay_gallery{
        top: 23% ;
    }
    .page_title{
        font-size: 5rem;
    }
    .overlay2{
        font-size: 2rem;
    }
    .contact_title{
        font-size: 4rem;
        padding-bottom: 3rem;
    }
    .contact_section{
        background-image: url("photos/her/img6_dark.JPG");
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    .scroll-to-next{
        padding-right: 3rem;
    }

}
@media (max-width: 389px){
    .gallery_title {
        padding-top: 5rem;
        font-size: 5rem;
        padding-bottom: 3rem;
    }
    .gallery_photo{
        width: 65%;
    }
    .page_title{
        font-size: 5rem;
    }
    #textarea{
        height: 10rem;
    }
}

@media screen and (max-height: 601px) {

    #textarea{
        height: 10rem;
        width: 35rem;
    }
    #email_input{
        width: 30rem;
    }

    #subject{
        width: 25rem;
    }

}

/* photo gallery */

.gallery_container {
    padding: 40px 5%;
    background: #24292f;
}

.heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.heading-text span {
    font-weight: 100;
}

ul {
    list-style: none;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    padding-left: 0;
}

.image-gallery > li {
    flex: auto;
    height: 300px;
    cursor: pointer;
    transition: transform .25s ease-in-out;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
    filter: grayscale(.7);
    transition: transform .5s ease-in-out;
}

/* hover */
.image-gallery li:hover {
    transform: scale(1.2);
    z-index: 1;
}

.image-gallery img:hover {
    filter: grayscale(0);
}

.arrow1 {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    z-index: 100;
    bottom: 50px;
    position: absolute;
    border-width: 0 0.3em 0.3em 0;
    border-style: solid;
    border-color: antiquewhite;
    animation: scrolldown 1.2s ease-in-out infinite 0.15s;

}

.arrow2{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    z-index: 100;
    bottom: 65px;
    position: absolute;
    border-width: 0 0.3em 0.3em 0;
    border-style: solid;
    border-color: antiquewhite;
    animation: scrolldown 1.2s ease-in-out infinite}

.opening-bg-hockey{
    background-image: url("photos/hockey3_dark.jpg");
    background-position: 50% 32%;
    background-size: cover;
    object-fit: cover;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-bg-couple{
    background-image: url("photos/couple1_dark.jpg");
    background-position: 50% 10%;
    background-size: cover;
    object-fit: cover;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-bg-group{
    background-image: url("photos/group1_dark.jpg");
    background-position: 50% 5%;
    background-size: cover;
    object-fit: cover;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
    .image-gallery li img {
        width: 100%;
        height: 100%;
        text-align: center;
        filter: grayscale(0);
        /*transition: transform .5s ease-in-out;*/
    }
    .image-gallery li:hover {
        transform: scale(1);
    }
    .arrow1{
        width: 3rem;
        height: 3rem;
    }
    .arrow2{
        width: 3rem;
        height: 3rem;
    }
    .opening-bg-hockey{
        height: 25rem;
    }
    .opening-bg-couple{
        height: 25rem;
    }
}

@keyframes scrolldown {
    0%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50%{
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}

.scroll-to-next{
    display: flex;
    justify-content: center;

}
.wrap {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.submit_button:hover {
    background-color: #55b2da;
    box-shadow: 0px 15px 20px rgba(46, 131, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
}